.DS_Store
.ipynb_checkpoints
*.html
__pycache__/
__pycache__/*
__pycache__/*/*
data/*
data/annotator_data/*
data/aggregated_data/.__afs0F96
data/crc_metadata/descriptions_brat/*
data/crc_metadata/descriptions_annotated/*
env/
env/*
env/*/*
analysis/*
analysis/Clustering/*
document_classification/BaselineDocumentClassifiers_PersonName.ipynb
document_classification/so_baseline_performance_metrics/*
document_classification/pn_baseline_performance_metrics/*
document_classification/all_baseline_performance_metrics/*
statistical_significance/*
token_classification/category_models/*
token_classification/SequenceClassifiers_LabelsCustomFastText.ipynb
token_classification/OLDBaselineTokenClassifiers_withPOS.ipynb
word_embeddings/GloVe/*
word_embeddings/fastText/*
label_catalogue/*
nohup.out
.__afs20B4

