.DS_Store
.ipynb_checkpoints
*.html
__pycache__/
__pycache__/*
__pycache__/*/*
data/*
data/annotator_data/*
data/aggregated_data/.__afs0F96
data/crc_metadata/descriptions_brat/*
data/crc_metadata/descriptions_annotated/*
env/
env/*
env/*/*
document_classification/config.py
token_classification/config.py
token_classification/OLDBaselineTokenClassifiers_withPOS.ipynb
