viz/*
.DS_Store
.ipynb_checkpoints
document_classification/.ipynb_checkpoints
token_classification/.ipynb_checkpoints
token_classification/models/.ipynb_checkpoints
*.html
__pycache__/
__pycache__/*
__pycache__/*/*
experiments/token_classification/__pycache__
data/*
data/annotator_data/*
data/aggregated_data/.__afs0F96
data/crc_metadata/descriptions_brat/*
data/crc_metadata/descriptions_annotated/*
experiments/ForConfusionMatrices.ipynb
final_models/data/*
env/*
env/*/*
final_models/models/embeddings/*
label_catalogue/*
viz/*
nohup.out
.__afs20B4
word_embeddings/GloVe/*
word_embeddings/fastText/*
